.flex.flex-wrap.justify-center
    - @articles.each do |article|
        %div.m-8.w-33p.shadow-lg.p-4.rounded.flex.flex-col.justify-between{id: dom_id(article)}
            = link_to "#{article.title}", article_path(article), {class: 'main'}
            %h4.mt-8= article.description
            %button.bg-white.hover:bg-grey-lightest.text-grey-darkest.font-semibold.py-2.px-4.border.border-grey-light.rounded.shadow.mt-4= article.category.name
